h1, h2, .board, .display {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 1rem ;
}

.board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 15px;
    padding: 0px 25px 0px 25px;
    width: 80vh;
    margin-top: 2rem;
}

.space {
    position: relative;
    width: 25vh;
    height: 25vh;
    font-size: 4rem;
}

.winning {
    color: green;
}
